@charset "utf-8";
/* CSS Document */

a {text-decoration:none;}
h1, h2, h3, h4, h5{font-weight:normal;}

img{border:none;}
textarea{resize: none;}
input,textarea{outline:none;}
a,button,textarea{outline: none;cursor:pointer;}
li{list-style:none;}
button{background:none;border:none;	}
* {
    margin:0;
    padding:0;
}
* {
    transition: background .5s;
}

.wraper .container{
    max-width:1100px; margin:0 auto;
    padding: 0 15px;
}

body{
    font-family: 'Open Sans', sans-serif;

}
.rob{
    font-family: 'Roboto', sans-serif;
}
.header{
    background: url("../img/head.png") no-repeat top center;
    height: 69px;
}
.wrap_head{
    /*overflow: hidden;*/
}
.language{
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.language .sel-lang {
    background: url("image/lang-arr-down.png") 33px center no-repeat;
    display: block;
    padding-right: 22px;
}
.language .sel-lang img {
    display: block;
}
.language ul {
    background-color: #fff;
    display: none;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 10;
}
.language ul li {
    border: 1px solid #dedede;
    display: block;
    padding: 4px;
}
.language.open ul {
    display: block;
}

.language ul li img {
    display: block;
}
.soc {
    display: inline-block;
    vertical-align: top;
    padding-top: 7px;
    margin-left: 82px;
}
.soc a {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}
.soc i{
    font-size:17px;
    color: white;

}
.soc i:hover{
    color: #2497E3;
    -webkit-transition:  all 0.5s ease;-moz-transition:  all 0.5s ease;-o-transition:  all 0.5s ease;transition:  all 0.5s ease;
}
.wrap_search {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-top: 7px;
    margin-left: 53px;
}
.input_one{
    display: block;
    width: 145px;
    height: 25px;
    line-height: 25px;
    border-radius: 8px;
    padding-left: 35px;
    background-color: #FFF;
    border: none;
    font-family: 'Open Sans', sans-serif;

}
.button_first {
    position: absolute;
    left: 11px;
    top: 7px;
    background: url(../img/search.png) no-repeat top center;
    width: 12px;
    height: 12px;
    cursor: pointer;
    border: none;
}
.right_head{
    float: right;
    width: 45%;
    font-size:0;

}
.right_head a {
    display: inline-block;
    vertical-align: top;
    color: white;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    background-color: transparent;
    line-height: 16px;
    padding: 8px 16px 8px 59px;
    border-radius: 12px;
    margin-left: 13px;
    margin-top: 9px;
    position: relative;
    width: 30%;
    border: 1px solid #DADDDF;
    transition: 0.5s;
}
.zayav:before{
    content: '';
    fill: #ffb600;
    position: absolute;
    left: 26px;
    top: 12px;
    background: url("../img/application.svg") no-repeat top center;
    width: 23px;
    height: 23px;
    background-size: 100%;
}
.wrap_map:before{
    content: '';
    position: absolute;
    left: 26px;
    top: 12px;
    background: url("../img/map1.svg") no-repeat top center;
    width: 26px;
    height: 32px;
    background-size: 100%;

}
.block1 {
    padding-bottom: 23px;
}
.wrap_logo{
    float: left;
}
.wrap_logo:hover .logo{
    opacity: 1;
    transition: 0.5s;
}
.logo{
    display: inline-block;
    vertical-align: top;
    transition: 0.5s;
}
.logo img{
    width: 85%;
    padding-top: 6px;
}
.slogan{
    display: inline-block;
    vertical-align: top;
}
.slogan p {
    color: #004472;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: -4px;
}
.slogan span{
    display: block;
    color: #000000;
    font-size:24px;
    text-transform: uppercase;
}
.block1 > div{
    overflow: hidden;
}
.right_block1{
    float: right;
    margin-top: 21px;
}
.free_phones {
    display: inline-block;
    vertical-align: top;
    color: #333333;
    font-size: 15px;
    line-height: 22px;
    font-family: 'Roboto';
    font-weight: 500;
    margin-top: 5px;
}
.phones {
    display: inline-block;
    vertical-align: top;
    margin-left: 14px;
}
.phones p{
    color: #004472;
    font-size:22px;
    font-weight:600;
}
.phones span {
    color: #333333;
    font-size: 12px;
    display: block;
    margin-left: 3px;
}


.wrap_swip .swiper-container{
    min-width: 100% !important;
}
.wrap_swip .swiper-container .swiper-wrapper{
    width: 100% !important;
}

.wrap_swip .swiper-container .swiper-wrapper .swiper-slide{
    height: 350px;
}
.zag_swip {
    color: #ffffff;
    font-size: 24px;
    font-family: 'Roboto';
    font-weight: 300;
    text-transform: uppercase;
    line-height: 35px;
    position: absolute;
    left: 50%;
    margin-left: -551px;
    top: 21%;
}
.txt_swip {
    color: #ffffff;
    font-size: 18px;
    line-height: 30px;
    font-family: 'Roboto';
    font-weight: 300;
    position: absolute;
    left: 50%;
    margin-left: -551px;
    top: 60%;
}
.wrap_benefits{
    font-size: 0;
    padding-top: 25px;
    padding-bottom: 45px;
    text-align: center;
}
.benefit{
    display: inline-block;
    vertical-align: top;
    width: 200px;
    margin: 0px 10px;
}
.benefit .b-link {
    display: block;
}
.benefit span {
    display: block;
}
.benefit .b-title {
    color: #333333;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    font-family: 'Roboto';
    padding-bottom: 21px;
    text-transform: uppercase;
}
.benefit .b-preview {
    overflow: hidden;
    position: relative;
}
.b-link img{
    -webkit-transition: -webkit-transform .3s ease-out;
    -moz-transition: -moz-transform .6s ease-out;
    -o-transition: -o-transform .6s ease-out;
    transition: transform .6s ease-out;
}
.b-link:hover img{
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
}

.hidden_menu{
	display:none;
	position:absolute;
	z-index:999;
	top:100%;
	left:0;
	width:280px;
	background:#3893BE;
	}

.hidden_menu a{
	padding:8px 15px;
	color:#fff;
	font-size:16px;
	text-transform:uppercase;
	display: block;
	}

.hidden_menu a:hover{
	background-color:#1B5F7F;
	}

.breadcrumbs{
	position:relative;
	}



.block3{

}
.wrap_works{
    overflow: hidden;
    padding: 0px 10px;
}
.left_work{
    float: left;
    width: 400px;
    margin-right: 60px;
}
.zag a,.zag{
    color: #004472;
    font-size: 22px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    min-height: 70px;
}
.wrap_g{

}
.g_photo{
    display: inline-block;
    vertical-align: top;
    margin-right: 18px;
}
.describe_g{
    display: inline-block;
    vertical-align: top;
    width: 236px;
}
.describe_g span{
    color: #004472;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    padding-bottom: 12px;
}
.describe_g p{
    color: #333333;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    padding-bottom: 12px;
}
.read_more{
    display: block;
    color: #004472;
    font-size: 14px;
    font-weight: 300;
}
.read_more:hover{
    text-decoration: underline;
}
.central_work{
    float: left;
    width: 275px;
}
.central_work .tabs a:link,
.central_work .tabs a:active,
.central_work .tabs a:visited,
.central_work .tabs a:hover {
    color: #333333;
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    border-bottom: 1px solid #004472;
    margin-bottom: 16px;
}
.central_work .tabs .active {
    border: 0!important;
    color: #004472;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}
.pl{
    overflow: hidden;
    padding-bottom: 15px;
}
.pl img {
    float: left;
    margin-right: 18px;
    margin-bottom: 10px;
}
.pl p{
    color: #333333;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
}
.central_work .pl a:link,
.central_work .pl a:active,
.central_work .pl a:visited,
.central_work .pl a:hover {
    color: #333333;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
}
.right_work{
    float: right;
    width: 300px;
}
.partner > a:link,
.partner > a:active,
.partner > a:visited,
.partner > a:hover {
    color: #333333;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
    width: 217px;
}
.p_photo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 72px;
    text-align: center;
    float: left;
}
.partner {
    min-height: 79px;
}
.block4 {
    padding-top: 54px;
    padding-bottom: 30px;
}
.wrap_video{
    overflow: hidden;
    clear: both;
    padding-top: 21px;
}
.vid{
    float: left;
    width: 407px;
    height: 230px;
}
.hands{
    float: right;
    background: url("../img/hands.jpg") no-repeat top center;
    width: 637px;
    height: 230px;
}

.wrap_hands{
    width: 468px;
    height: 134px;
    border: 2px solid #abc6d9;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}
.wrap_hands span:hover{
    background-color: rgb(0,68,114);
    transition: 0.5s;
}
.wrap_hands span {
    background-color: rgba(0,68,114,.6);
    display: block;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 24px;
    width: 440px;
    height: 80px;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    padding-top: 27px;
    transition: 0.5s;
}
.margin{
    margin-bottom: 15px;
}
.wrap_news{
    font-size: 0;
    overflow: hidden;
}
.news{
    display: inline-block;
    vertical-align: top;
    width: 240px;
    margin-right: 46px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid white;
    transition: 0.5s;
}
.news:hover{
    border: 1px solid #c7c7c7;
    transition: 0.5s;
}
.wrap_news .news:nth-child(4n){
    margin-right: 0px;
}
.news_photo{
    width: 240px;
    height: 175px;
    position: relative;
    overflow: hidden;
}
.news_photo img{
    width: 90%;
    height: auto;
    border: 1px solid #c4c4c4;
}
.describe_news {
    padding-top: 4px;
    padding-bottom: 5px;
}
.date{
    display: block;
    color: #333333;
    font-size: 12px;
    padding: 10px 0px;

}
.describe_news p{
    color: #333333;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}
.name_news{
    position: absolute;
    left: 0px;
    bottom: 17px;
    color: #ffffff;
    font-size: 13px;
    width: 140px;
    line-height: 25px;
    background-color: rgba(0,68,114,.6);
    text-align: center;
}
.news:hover .name_news {
    left: 50%;
    margin-left: -70px;
    bottom: 42%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.footer{
    margin-top: 21px;
    background-color: #004472;
    padding: 10px 0;

}
.footer > div {
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 26px;
}

.foot_logo{
    float: left;
}
.foot_logo img{
    width: 75%;padding-top: 10px;
    opacity: 0.5;
    transition: 0.5s;
}
.f_slogan {
    float: left;
    color: #DADDDF;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin-top: 5px;
}
.f_nav {
    float: left;
    padding-top: 25px;
    padding-left: 66px;
}
.big-logo:hover .foot_logo img{
    opacity: 1;transition: 0.5s;
}
.f_nav li{
    display: inline-block;
    vertical-align: top;
}
.f_nav li a{
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    color: #DADDDF;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 30px;
    transition: 0.5s;
}
.f_nav li a:hover{
    color: #2497E3;
    transition: 0.5s;
}
.copy {
    float: right;
    color: #DADDDF;
    font-size: 14px;
    line-height: 20px;
    padding-top: 16px;
}
.block5{
    background-color: #004472;
    font-size: 0;
}
.zag_gamb{
    display: inline-block;
    vertical-align: middle;
}
.zeg1{
    margin-bottom:-30px;
}
.name_bread{
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 18px;
}
.block5 > div:after{
    content:'';
	clear:both;
	display:block;
}
.breadcrumbs{
    float: left;
}
.bread_nav li{
    display: inline-block;
    vertical-align: top;
}
.bread_nav li a{
    display: inline-block;
    vertical-align: top;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 41px;
    padding: 14px 10px;
    transition: 0.5s;
}
.bread_nav li a:hover{
    background: #2497E3;
    transition: 0.5s;
}
.bread_nav .zactive_bread a{
    font-weight: ;
    color: #ffffff;
}
.bread_nav {
    float: right;
}
.block6 .wrap_news{
    padding-top: 60px;
}
.block6 .wrap_news .news{
    padding-bottom: 25px;
    padding-bottom: 25px;
    border: 1px solid white;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
    transition: 0.5s;
}
.block6 .wrap_news .news:hover{
    border: 1px solid #c4c4c4;
    transition: 0.5s;
}
ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px;
    width: 100%;
}

ul.tabs li {
    float: left;
    margin: 0;
    cursor: pointer;
    padding: 0px 21px;

}


ul.tabs li.active {
    background-color: #fff;
    color: #333;
    border-bottom: 1px solid #fff;
    display: block;
}

.tab_container {
    float: left;
}
a.all{
    font-size: 14px;
    color: #004472;
}
a.all:hover{
    text-decoration: underline;
}

.tab_content {
    padding: 20px;
    display: none;
}

.tab_drawer_heading {
    display: none;
}

@media screen and (max-width: 480px) {
    .tabs {
        display: none;
    }
    .tab_drawer_heading {
        background-color: #ccc;
        color: #fff;
        border-top: 1px solid #333;
        margin: 0;
        padding: 5px 20px;
        display: block;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .d_active {
        background-color: #666;
        color: #fff;
    }
}
.pagination a{
    color: #333333;
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #f3f5f6;
    padding: 1px 8px;
    margin-right: 18px;
}
.pagination span{
    color: #333333;
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #FFF;
    padding: 1px 8px;
    margin-right: 10px;
    font-weight: 700;
}
.pagination {
    font-size: 0;
    text-align: center;
    margin: 30px 0px;
}
.pagination a:hover{
    background-color: #000;
    color:#FFF;
}
.block7{

}
.block7 .zag{
    text-align:left;
    padding-top: 54px;
    padding-bottom: 21px;
    min-height: auto;
}
.block7 p{
    padding-left: 30px;
    margin-bottom: 21px;
    color: #333333;
    font-size: 16px;
    position: relative;
}
.p1:before{
  content: '';
    position: absolute;
    background: url("../img/phone.png") no-repeat top center;
    width: 16px;
    height: 16px;

    top: 4px;
    margin-left: -20px;
}

.block7 h3{
    color: #004472;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;margin-bottom: 12px;
}
.p2:before{
    content: '';
    position: absolute;
    background: url("../img/mail.png") no-repeat top center;
    width: 19px;
    height: 15px;
    margin-left: -24px;
    top: 4px;
}
.input_sec{
    color: #cccccc;
    font-size: 14px;
    border: 1px solid #cccccc;
    height: 40px;
    width: 218px;
    padding-left: 15px;
    display: block;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 12px;
    width: 60%;
}
.block7 textarea{
    color: #cccccc;
    font-size: 14px;
    border: 1px solid #cccccc;

    width: 218px;
    padding-left: 10px;
    display: block;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 12px;
    cursor: default;
    padding-top: 10px;
    height: 126px;
    width: 60.5%;
}
.send{
    display: block;
    color: #033333;
    font-size: 14px;
    border: 1px solid #004472;
    border-radius: 4px;
    width: 158px;
    height: 28px;
    line-height: 28px;
    text-align: center;
}
.send:hover{
    background-color: #004472;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color:#FFF;
}
.block8{
    border-bottom: 2px solid #f5f5f5;
}
.nav{
    font-size: 0;
    padding-top: 30px;
}
.nav li{
    display: inline-block;
    vertical-align: top;
}
.nav li a {
    color: #333333;
    font-size: 14px;
    display: inline-block;
    border: 1px solid #f5f5f5;
    margin-right: 30px;
    margin-bottom: 15px;
    vertical-align: top;
    padding: 4px 13px;
    display: block;
    transition: 0.5s;
}
.nav li a:hover{
    background:#004472;
    color: white;
    border-color: #004472;
    transition: 0.5s;
}
.wrap_cont{
    overflow: hidden;
    padding-top: 35px;
}
.left_cont{
    float: left;
    width: 719px;
}
.left_cont h3{
    color: #004472;
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 30px;
}
.d{
    margin-bottom: 30px;
    display: block;
}
.left_b {
    float: left;
    clear: both;
    width: 220px;
    padding-top: 21px;
}
.left_b p{
    color: #333333;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 7px;
}
.left_b span{
    color: #004472;
    font-size: 18px;
    font-weight: 600;
}
.show_map{
    color: #033333;
    font-size: 14px;
    display: block;
    border: 1px solid #004472;
    border-radius: 4px;
    text-align: center;
    line-height: 28px;
    margin-top: 15px;
    margin-bottom: 21px;
    transition: 0.5s;
}
.show_map:hover{
    background: #004472;
    color: white;
    transition: 0.5s;
}
.swip_sec .swiper-container .swiper-wrapper .swiper-slide {
    height: 201px;
}

.swip_sec .swiper-pagination-bullets {

    left: auto!important;
    width: 100px !important;
    right: 39px!important;
    margin-right: 0px!important;
}


.swip_sec .swiper-button-next, .swiper-container-rtl .swiper-button-prev {

    right: -2% !important;
    left: auto;
    margin-right: 34px !important;
}


.swip_sec .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background: url(../img/prev.png) no-repeat top center;
    right: 15% !important;
    margin-right: 0px !important;
}
.right_b{
    float: left;
    width: 400px;
    margin-left: 75px;
    padding-top: 21px;
}
.right_b h4{
    color: #004472;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0px;
    margin-bottom: 12px;
}
.right_b p{
    color: #333333;
    font-size: 16px;
    line-height: 30px;
}
.right_b span,.left_cont span.big_blue{
    font-size: 18px;
    line-height: 25px;
    color: #004472;
    display: block;
}
.right_cont{
    float: right;
    width: 320px;
}
.left_cont h3.heading{
    background: transparent;
    color: #004472;
    padding-left: 0px;
    font-size: 22px;margin-bottom: 10px;
}
.left_cont main.two{
    margin-top:-30px;
}
.left_cont main .heading{
    margin-bottom: 10px;
 }

.left_cont main .heading .big_blue{
    font-size: 20px;
    font-weight: 500;
}
.left_cont main .heading p{
    font-weight: 600;
    margin-bottom: 0px;
}
.left_cont main .table p{
    margin-bottom: 0px;
    font-weight: 600;
}
.left_cont main .table{
    margin-bottom: 30px;
}
.left_cont main .table .table1{
    width: 50%;
    float: left;
}
.left_cont main .table span.blue{
    font-weight: 600;
    font-size: 18px;
}
.left_cont main .table span.blue_mini{
    font-weight: normal;
    font-size: 16px;
    color: #004472;
}
.left_cont h3.silver{
    background: #eeeeee;
    color: black;
}
.right_cont h3,.left_cont h3{
    background: #004472;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    text-align: center;
    color: #fff;
}
.left_cont h3{
    text-align: left;
    padding-left: 30px;
}
.right_cont main,.left_cont main {
    padding: 20px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 30px;
}
.right_cont main p , .left_cont main p{
    margin-bottom: 10px;
}
.left_cont main p{
    line-height: 30px;
    color: #333333;
    font-family: 'open sans', sans-serif;
}
.left_cont main .width{
    color: #004472;
    font-size: 18px;
    font-weight: 900;
    width: 170px;
    float: left;
    height: 40px;
}
.left_cont main span.blue{
    color: #004472;
    font-weight: bold;
}
.left_cont main .width1{
    width: 530px;
    float: left;
}
.right_cont p{
    color: #333333;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 5px;
}
.right_cont span{
    color: #004472;
    font-size: 22px;
    font-weight: 600;
    display: block;
}
.head_coast{
    clear: both;
}
.head_coast h3{
    color: #004472;
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 15px;
}
.head_coast p{
    color: #333333;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 7px;
}
.footer-main .nav{
    padding-top: 0px;
}
.area .left_cont main .width1{
    width: 450px;
}
.footer-main ul li a{
    border: none;
    margin: 0;
}
.footer-main ul li:first-child{
    margin-right: 5.4%;
}
.footer-main ul li {
    width: 47%;
    border: 1px solid #eee;
    text-align: center;
}
span.green{
    color: #2497E3;
    font-size: 22px;
    font-weight: 900;
}
.double_txt{
    clear: both;
    overflow: hidden;

}
.left_dt{
    float: left;
    width: 210px;
    margin-right: 30px;
}
.double_txt span{
    color: #004472;
    font-size: 16px;
    display: block;
    padding-bottom: 7px;
}
.green{
    color: #2497E3;

}
.double_txt{
    padding-bottom: 21px;
}
.wrap_table{
    overflow: hidden;
    clear: both;

}
.left_table{
    float: left;
}
.grap{
    display: block;
    text-align: center;
    margin: 30px 0px;
}
.grap img{
    width: 100%;height: auto;
}
.wrap_select{
    border: 1px solid #eee;
    padding: 25px;
}
.wrap_select .col-md-4{
    width: 33.33%;
    float: left;
    padding: 0 45px;
    box-sizing: border-box;
}
.range-slider {
    width: 300px;
    margin: auto;
    text-align: center;
    position: relative;
    height: 4em;
    margin-bottom: 20px;
}
.checkbox{
    margin-bottom: 10px;
}

label {

    cursor: pointer;

}

.radio label:before {
    border-radius: 8px;
}
input[type=radio]:checked + label:before {
    content: "\2022";
    color: #333;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
}


span.price p{
    font-size: 15px;
    color: #333;
    float: left;
    margin-right: 10px;
}
.range-slider svg,
.range-slider input[type=range] {
    position: absolute;

    bottom: 0;
    right: 0;
}
.ot{
    float: left;
    width: 50%;
}
.do{
    float: left;
    width: 50%;
}
.range-slider input{
    text-align: center;
    padding: 5px;
    font-size: 14px;
    color: #333;
    width: 40%;
    float: left;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type=number]:invalid,
input[type=number]:out-of-range {
    border: 2px solid #ff6347;
}
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #2497e3;
}
input[type=range]:focus::-ms-fill-lower {
    background: #2497e3;
}
input[type=range]:focus::-ms-fill-upper {
    background: #2497e3;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: #2497e3;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
}
input[type=range]::-webkit-slider-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #2497e3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: #2497e3;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
}
input[type=range]::-moz-range-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #2497e3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper {
    background: #2497e3;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
}
input[type=range]::-ms-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #2497e3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: pointer;
}
.right_head a:hover{
    background: #258DDD;
    border:1px solid #258DDD;
    transition: 0.5s;
    transition: 0.5s;
}
.wrap_select .col-md-4 span{
    font-size: 14px;
    display: block;color:#004472;
    font-weight: 600;
    margin-bottom: 10px;
}
.wrap_select select {
    color: #333333;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #eeeeee;
    padding: 5px 10px;
    display: inline-block;
    vertical-align: top;
    outline: none;
    cursor: pointer;
    margin-right: 13px;
    width: 100%;
    margin-bottom: 20px;
}
.wrap_project{
    overflow: hidden;
    clear: both;
    padding: 25px;
    border: 1px solid #eee;
}
.left_proj{
    float: left;
    width: 320px;
    height: 240px;
    overflow: hidden;
    margin-right: 30px;
}
.clear{
    clear: both;
}
.left_proj img{
    width: 100%;
    height: 240px;
}
a.blue-button{
    padding: 10px 40px;
    background: #004472;
    display: block;float: right;
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
    margin-top: -10px;
    transition: 0.5s;
    border: 1px solid transparent;
}
a.blue-button:hover{
    border: 1px solid  #004472;
    color:  #004472;
    background: transparent;
    transition: 0.5s;
}
.project_heading{
    padding: 20px 0;
    color: #333;
}
.project_heading a.blue-button{
    margin-top: -28px;
}
.list .pagination span{
    font-weight: normal;
}
.list .pagination a{
    border: none;
}
.list .pagination a:hover{
    background: #f8f8f8;
    color: #333;
}
.list .pagination a.active{
    background: #004472;
    color: white;
}
.block6 .pagination a.active{
    background: #004472;
    color: #ffffff;
}
.project_heading a.blue-button{
    clear: both;
}
.project_heading p{
    font-size: 18px;float: left;
    clear: both;
;
}
.obnov{
    display: block;
    color: #cccccc;
    font-size: 12px;
    margin-bottom: 7px;
    float: left;
}
.name_proj{
    text-transform: uppercase;
    color: #333333;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
}
.namn_eng{
    color: #333333;
    font-size: 16px;
    margin-bottom: 6px;
    display: block;
}
.wrap_icons{
    margin-bottom: 40px;
}
.wrap_icons img {
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 8px;
}
.wrap_icons p {
    color: #333333;
    font-size: 16px;
    margin-bottom: 7px;
}
/**
 * Title:
 *    Animations
 * Description:
 *    List all the animations of the site in one file
 * Sections:
 *    $. Keyframes
 *    $. Classes
 */
/* $. Keyframes
\*----------------------------------------------------------------*/
@-webkit-keyframes shrink {
    0% {
        color: green;
        -webkit-transform: scale(2);
        transform: scale(2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        color: grey;
    }
}
@keyframes shrink {
    0% {
        color: green;
        -webkit-transform: scale(2);
        transform: scale(2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        color: grey;
    }
}
@-webkit-keyframes grow {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        color: grey;
    }
    100% {
        -webkit-transform: scale(2);
        transform: scale(2);
        color: green;
    }
}
@keyframes grow {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        color: grey;
    }
    100% {
        -webkit-transform: scale(2);
        transform: scale(2);
        color: green;
    }
}
/* $. Classes
\*----------------------------------------------------------------*/
.animate {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-perspective: 1000;
    perspective: 1000;
    -webkit-filter: blur(0);
    filter: blur(0);
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.animate--shrink, .hero__title .slick-current > span {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: shrink;
    animation-name: shrink;
    -webkit-animation-timing-function: 'linear';
    animation-timing-function: 'linear';
}

.animate--grow, .hero__title .slick-current + .slick-slide > span, .no-js .hero__title .slick-dupe:nth-child(2) > span {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: 'linear';
    animation-timing-function: 'linear';
    -webkit-animation-name: grow;
    animation-name: grow;
}

/* Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
}
.slick-track:before, .slick-track:after {
    content: "";
    display: table;
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}

.slick-arrow.slick-hidden {
    display: none;
}

.slick-current {
    position: relative;
}

.hero__title .slick-slide {
    overflow: hidden;
    padding: 20px 0;
}

.hero__title [aria-hidden] {
    -webkit-transition: 1s;
    transition: 1s;
}

/*
.hero__title [aria-hidden="false"]{
    opacity: 1;
}

.hero__title [aria-hidden="true"] {
    opacity: 0;
}
 */
.hero__title .slick-current > span {
    box-sizing: border-box;
    display: block;
}

.no-js .hero__title .slick-dupe:nth-child(2) > span {
    padding: 1em;
}

.hero__title-misc {
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: grey;
}


.hero__title-misc {
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: grey;
}
.describe_project{
    float: left;
    width:66%;
}
.zag  img{
    border: 1px solid #C2C8CE;
    padding: 6px 10px;
    border-radius: 5px;
    margin-left: 8px;

}
@media screen and (max-width: 1100px){
    .left_cont{
        width: 100%;
    }
    .margin{
        margin-top: 20px;
    }
    .right_cont{
        width: 100%;
    }
    .wrap_select .col-md-4{
        width: 50%;
        margin-bottom: 20px;
    }
    .right_head{
        width: 42%;

    }
    .right_head a{
        width: 28%;
        padding: 2px 16px 2px 59px;
    }
}
@media  screen {

}
@media only screen and (min-width:1024px){
    .wrap_head .language .sel-lang {
        padding: 12px 22px 12px 4px;
    }
}
@media only screen and (min-width:1024px) and (max-width: 1099px){
    .wraper .container {
        width:1000px; margin:0 auto;
        min-width: 1000px;
    }

    .zag_swip {

        margin-left: -462px;
        top: 6%;
    }
    .wrap_swip .swiper-container .swiper-wrapper .swiper-slide {
        height: 256px;
    }
    .txt_swip {

        margin-left: -459px;
        top: 52%;
    }


    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
        bottom: 23px !important;

        margin-right: 36px !important;
    }
    .benefit {

        margin: 0px 0px;
    }
    .left_work {

        margin-right: 5px;
    }
    .vid {

        width: 363px;

    }
    .news {

        margin-right: 13px;
    }
    .f_nav {

        padding-left: 25px;
    }
    .swip_sec .swiper-pagination-bullets {
        left: auto!important;
        width: 100px !important;
        right: 39px!important;
        margin-right: 0px!important;
        bottom: 35px !important;
    }

    .wrap_for_mess {
        display: inline-block;
        width: 340px;
        margin: 0 auto;
        display: block;
    }
}
@media only screen and (min-width:768px) and (max-width: 1023px){
    .wraper .container{
        width:750px; margin:0 auto;
        min-width: 750px;
    }
    .wraper > div {
        min-width:750px;
    }
    .soc {

        margin-left: 13px;
    }
    .wrap_search {

        margin-left: 5px;
    }
    .input_one {

        width: 71px;

    }
    .header {
        background: url(../img/head.png) no-repeat top center #004472;
        height:auto;
        /*padding-bottom: 12px;*/
    }
    .right_head a {
        margin-left: 16px;

    }
    .language {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .soc {

        padding-top: 21px;

    }
    .wrap_search {

        margin-top: 23px;

    }
    .free_phones {

        display: none;
    }
    .wrap_logo {
        float: left;
        padding-top: 23px;
    }
    .right_block1 {

        margin-top: 28px;
    }
    .wrap_swip .swiper-container .swiper-wrapper .swiper-slide {
        height: 191px;
    }
    .zag_swip {

        font-size: 17px;


        line-height: 22px;

        margin-left: -348px;
        top: 8%;
    }
    .txt_swip {
        color: #ffffff;
        font-size: 15px;
        line-height: 16px;
        font-family: 'Roboto';
        font-weight: 300;
        position: absolute;
        left: 50%;
        margin-left: -347px;
        top: 53%;
    }
    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
        bottom: 11px !important;
        left: 0;
        width: 100px !important;
        right: 0px;
        margin-right: 60px !important;
        text-align: right !important;
    }
    .swiper-button-prev, .swiper-button-next {
        display: none;
    }
    .benefit {

        margin: 0px 10px 20px 10px;
    }
    .left_work {

        margin-right: 33px;
    }
    .right_work {

        display: none;
    }
    .vid {

        width: 321px;

    }
    .hands {

        width: 429px;

    }
    .wrap_hands {
        width: 409px;

    }
    .wrap_hands span {

        width: 400px;

    }
    .news {

        margin-right: 15px;
        margin-bottom: 17px;
    }
    .wrap_news .news:nth-child(4n) {
        margin-right: 15px;
    }
    .wrap_news .news:nth-child(3n) {
        margin-right: 0px;
    }
    .copy {
        float: left;

        font-size: 14px;
        line-height: 20px;
        padding-top: 16px;
        margin-left: 67px;
    }
    .f_nav {

        padding-top: 11px;

    }
    .right_cont {
        float: left;

    }
    .describe_project {
        width: 409px;
        float: left;
    }
    .left_proj {

        margin-right: 15px;
    }
    .wrap_select select {

        margin-right: 7px;
        margin-bottom: 13px;
    }
    .zayav:before{
        left: 19px;
    }
    .wrap_map:before{
        left: 14px;
    }
    .right_head{
        width: 60%;

    }
    .right_head a{
        width: 32%;
        padding: 8px 12px 8px 50px;
    }
}
@media only screen and (min-width:480px) and (max-width: 767px){
    .wraper .container{
        width:470px; margin:0 auto;
        min-width: 470px;
    }
    .wraper > div {
        min-width:470px;
    }
    .right_head {
        width: 100%;
    }
    .right_head a{
        background: #004472;
        padding: 9px 16px 14px 59px;
    }
    .soc {
        display: inline-block;
        vertical-align: top;
        padding-top: 7px;
        margin-left: 53px;
    }
    .header {
        background: url(../img/head.png) no-repeat top center #004472;
        height: auto;
        padding-top: 3px;
    }
    .language {
        padding-bottom: 15px;
        padding-top: 11px;

    }
    .wrap_logo {
        float: none;
        display: block;
        margin: 0 auto;
        width: 373px;
        padding-top: 22px;
    }
    .right_block1 {
        float: left;
        margin-top: 21px;
        margin-left: 12px;
    }
    .wrap_swip .swiper-container {

        display: none;
    }
    .benefit {

        margin-bottom: 21px;
    }
    .wrap_benefits {

        padding-bottom: 10px;

    }
    .central_work {
        float: none;
        width: 275px;

        margin: 0 auto;
        padding-top: 23px;
        display: block;
        clear: both;
    }
    .right_work {

        width: 300px;
        margin: 80px auto;
    }
    .vid {
        width: 470px;
        margin-bottom: 30px;
    }
    .hands {
        float: left;
        background: url(../img/hands.jpg) no-repeat top center;
        width: 470px;
        height: 230px;
    }
    .news {
        display: inline-block;
        vertical-align: top;
        width: 230px;
        margin-right: 10px;
    }
    .news_photo {
        width: 230px;

    }
    .wrap_news .news:nth-child(4n) {
        margin-right: 0px;
    }
    .wrap_news .news:nth-child(2n) {
        margin-right: 0px;
    }
    .foot_logo {
        float: left;
        margin-left: 99px;
    }
    .f_nav {
        float: left;
        padding-top: 25px;
        padding-left: 52px;
    }
    .copy {
        float: none;

        font-size: 14px;
        line-height: 20px;
        padding-top: 16px;
        clear: both;
        display: block;
        text-align: center;
    }

    .swiper-button-prev, .swiper-button-next{
        display: none;
    }
    .swip_sec .swiper-container .swiper-wrapper .swiper-slide {
        height: 118px;
    }
    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
        bottom: 5px !important;

        right: -7px!important;
    }
    .right_b {
        float: left;
        width: 232px;
        margin-left: 16px;
        padding-top: 21px;
    }
    .right_cont {
        float: left;

    }
    .grap img{
        width: 100%;
    }
    .wrap_select select{
        margin-bottom: 10px;
    }
    .left_proj {
        float: none;
        width: 320px;
        height: 240px;
        overflow: hidden;
        margin-right: 0px;
        clear: both;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .describe_project {
        width: 470px;
        float: left;
        text-align: center;
    }
}
@media screen and (max-width: 796px){
    .wrap_select .col-md-4{
        width: 100%;
        text-align: center;
        padding: 0px;
    }
    .wrap_select{
        padding: 10px;
    }
    .wrap_select select{
        width: 80%;
    }
    .wrap_project{
        border: none;
        padding: 0;
    }
    .obnov{
        padding-bottom: 40px;
    }
}
@media only screen and (min-width:320px) and (max-width: 479px){
    .wraper .container {
        width:320px; margin:0 auto;
        min-width: 320px;
    }
    .wraper > div {
        min-width:320px;
    }
    .header {
        background: url(../img/head.png) no-repeat top center #004472;
        height: auto;
        padding-top: 3px;
    }
    .language {
        padding-bottom: 15px;
        padding-top: 15px;
        margin-left: 12px;
    }
    .soc {
        display: inline-block;
        vertical-align: top;
        padding-top: 10px;
        margin-left: 7px;
    }
    .wrap_search {

        margin-left: 0px;
    }
    .input_one {

        width: 95px;

    }
    .wrap_search {

    }
    .right_head {
        width: 100%;
    }
    .right_head a{
        width: 70%;background: #004472;
        padding: 9px 16px 14px 59px;
    }
    .slogan span {
        font-size: 17px;

    }
    .slogan {

        width: 215px;
    }
    .wrap_logo {
        float: none;
        display: block;
        clear: both;
        margin: 0 auto;
        width: 286px;
        padding-top: 16px;
    }
    .free_phones {

        display: none;
    }
    .right_block1 {
        float: none;
        margin-top: 21px;
        text-align: center;
    }
    .wrap_swip .swiper-container {

        display: none;
    }
    .benefit {
        display: inline-block;
        vertical-align: top;
        width: 200px;
        margin: 0px 10px 39px 10px;
    }
    .left_work {
        float: none;
        width: 300px;
        margin-right: 0px;
        clear: both;
    }
    .wrap_g {
        text-align: center;
        margin-top: -23px;
    }
    .central_work {

        margin-top: 21px;
    }
    .vid {
        float: left;
        width: 320px;
        height: 230px;
        margin-bottom: 10px;
    }
    .hands {

        display: none;
    }
    .wrap_news {

        text-align: center;
    }
    .name_news{
        left: 11px;
        bottom: 16px;
    }
    .describe_news{
        padding: 15px;
    }
    .news{
        padding: 0px;
    }
    .describe_news {
        padding-top: 4px;
        text-align: left;
    }
    .news {
        display: inline-block;
        vertical-align: top;
        width: 240px;
        margin-right: 0px;
        margin-bottom: 21px;
    }
    .foot_logo {
        float: left;
        margin-left: 28px;
    }
    .f_nav li a {
        font-size: 13px;
        margin-right: 4px;
    }
    .f_nav li:last-child a{
        margin-right: 0px;
    }
    .f_nav {
        float: none;
        padding-top: 25px;
        padding-left: 2px;
        text-align: center;
        clear: both;
    }
    .copy {
        float: none;

        font-size: 14px;
        line-height: 20px;
        padding-top: 16px;
        text-align: center;
        display: block;
    }
    .left_work {
        float: left;
        width: 300px;
        margin-right: 0px;
    }

    .left_cont h3 {

        text-align: center;
    }
    .swip_sec .swiper-container .swiper-wrapper .swiper-slide {
        height: 81px;
    }
    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {

        display: none;

    }
    .swiper-button-prev, .swiper-button-next {
        display: none;
    }
    .left_b {

        margin-left: 10px;
    }
    .right_b {
        float: left;
        width: 310px;
        margin-left: 10px;

    }
    .right_cont {
        float: left;
        width: 275px;
        padding-top: 17px;
        margin-left: 10px;
    }
    .head_coast {
        clear: both;
        padding-top: 36px;
        margin-left: 10px;
    }
    .grap img{
        width: 100%;
    }
    .wrap_for_mess {
        margin-left: 10px;
    }
    .pagination a {

        margin-bottom: 18px;
    }
    .wrap_select select {
        color: #333333;
        font-size: 13px;
        font-family: 'Open Sans', sans-serif;
        border: 1px solid #eeeeee;
        padding: 5px 10px;
        display: inline-block;
        vertical-align: top;
        border-radius: 3px;
        outline: none;
        cursor: pointer;
        margin-right: 0px;
        margin-left: 12px;
        margin-bottom: 5px;
    }
    .left_proj {
        float: left;
        width: 320px;
        height: 240px;
        overflow: hidden;
        margin-right: 0px;
    }
    .describe_project {
        width: 305px;
        float: left;
        padding-left: 10px;
        padding-top: 15px;
        padding-right: 5px
    }
}